 
fastapi
uvicorn[standard]


#langchain@ecosystem
langchain
langchain-core
langchain-community
langchain-chroma
langchain-groq
langgraph

pydantic

chromadb
faiss-cpu
beautifulsoup4
requests
huggingface_hub
numpy
tqdm
python-dotenv
sentence_transformers
langchain_huggingface
scikit-learn
json5
streamlit
google-generativeai